
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('polices/SinkinSans-400Regular-webfont.eot');
    src: url('polices/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('polices/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('polices/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{
    background-color:#11488D;
    color:#ffed9a;

}

.navbar {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color:#11488D;
    border: none;
    
}



.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}



.center-img{
    padding-left: 140px;
    margin-top: 30px;
}



.navbar .nav > li > a {
    color:#ffed9a;
}
.navbar-brand > span{
    color:#ffed9a;
padding-left: 0px;
}


.navbar .nav > li:nth-child(12),
.navbar .nav > li:nth-child(13),
.navbar .nav > li:nth-child(14){
    border-radius: 50%;
    background-color: #0D2458;
    height: 50px;
    width: 50px;
}

/*contact*/

.bigicon{
   color: #0D2458;
}

.well{
    background-color:#ffed9a;   
}

legend{
   color: #0D2458;
    
}



/* qui somme nous */
    #marging-buttom-image-text{
        padding-top: 100px;
    }

.text-president{
    padding-top: 100px;
}

p{
    text-align: justify;
    text-justify: inter-word; 
    font-size: 16px;
}



/*livre d or */

.container {
    padding: 25px;
    position: fixed;
    left: 35%;
    color:#0D2458;
}
li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child{
    border-bottom:none;
}



.btn,.form-control,.well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
} 

.btn-plus {
    
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

hr {
 border-color:#ececec;
}

button {
 outline: 0;
}

.btn span{
 color: #0D2458;
}

.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}

h3 { 
 border:0 solid #efefef; 
 border-bottom-width:1px;
 padding-bottom:10px;
}