
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('polices/SinkinSans-400Regular-webfont.eot');
    src: url('polices/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('polices/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('polices/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body{
	background-color:#11488D;
	color:#ffed9a;

}

/*programme*/

#aside{
    margin-left: 20px;
}

#programme{
    margin-left: 20px;
}

/*end programme*/

.navbar {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color:#11488D;
    border: none;
    
}



.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.center-img{
    padding-left: 140px;
    margin-top: 30px;
}

.thumbnail {
    background-color:#11488D;
    border:none;
}



.navbar .nav > li > a {
    color:#ffed9a;
}
.navbar-brand > span{
    color:#ffed9a;
padding-left: 0px;
}


.navbar .nav > li:nth-child(12),
.navbar .nav > li:nth-child(13),
.navbar .nav > li:nth-child(14){
    border-radius: 50%;
    background-color: #0D2458;
    height: 50px;
    width: 50px;
}

/*contact*/

.bigicon{
    color:#ffed9a;
}

.well{

    background-color:#11488D;
    border: none;
}

legend{
   color: #ffed9a;
   padding-left:100px;
   border:none;
}

.btn {
  color:#11488D;
  background-color:  #ffed9a;
  margin-left: 100px;
}

/*end contact*/

footer{
    padding-left: 150px;
    padding-top:  20px;
}

/* qui somme nous */
    #marging-buttom-image-text{
        padding-top: 100px;
    }

.text-president{
    padding-top: 100px;
}

p{
    text-align: justify;
    text-justify: inter-word; 
    font-size: 16px;
}
